/*Give the <body> element a background of Black*/
body { 
        background-color: black;
        font-family: 'Mali', cursive;
        
}
/*Make the <h1> elements blue*/
h1 {
        color: blue;
}
/*Make all <li> elements in the shade of hexadecimal blue*/
li {
        color: #00b0ff;
}
/*Paragraph background to orange*/
p {
        background-color: orange;
}
/*Make all <h3> have 5px red solid border*/
h3 {
        font-size: 5px;
        border: 5px red solid;
}
/*Give everything with <abbr> bold and underlined*/
abbr {
        font-weight: bold;
        text-decoration: underline;
}
/*Give elements with class "explanation" red*/
.explanation {
    color: red;
}
/*Give <p> in id "zen-benefits" pink background*/
#zen-benefits p{
    background-color: pink;
}
/*Make <li> adjacent to <h2> red background*/
li + h2 {
    background-color: red;
}
/*Give <em> inside <p> red and bold*/
p em {
    color:red;
    font-weight: bold;
}